 .table-css {
     width: 100%;
     overflow: auto;
     padding-top: 0;
     padding-right: 2rem;
     padding-left: 2rem;
     padding-bottom: 3rem;
 }

 mat-form-field {
     width: 120px;
 }

 .my-form-field {
     margin: 0;

     .mat-mdc-text-field-wrapper {
         background: none;
     }

     .mat-mdc-form-field-focus-overlay {
         background: none;
     }

     .mat-focused {
         background: none;
     }

     .mdc-text-field {
         padding: 0;
     }

     margin-right: 2rem;
 }

 .button_css {
     margin-bottom: 2rem;
     width: 120px;

 }

 th {
     background-color: #00493f;
 }

 .headerColor {
     color: white;
 }

 .mat-mdc-paginator-outer-container {
     box-shadow: -1px 2px 2px 2px rgb(215, 215, 215);
 }